html {
    min-height: 100%;
    background: linear-gradient(to bottom, rgb(246, 91, 91), rgb(223, 223, 63)) no-repeat;
    overflow: none;
    text-align: center;
}

#personal-image {
    float:left;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(33, 33, 33);
}

#logo-image {
    height: 100px;
    object-fit: contain;
    margin: 10px;
}

.header {
    height: 80px;
    display:inline-block;
    font-size: 3em;
    font-weight: bold;
    margin: 10px;
}

.card {
    background: white;
    font-size: 10px;
    height: 404px;
    width: 250px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    justify-items: center;
}

#arrow {
    margin:auto 0;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 30px solid black;
    border-bottom: 20px solid transparent;
}

.hidden {
    display:none;
}

.container:hover .header {
    font-size: 3.1em;
}

.container:focus-within .hidden {
    display: inline-grid;
    grid-auto-rows: max-content;
}

.container:focus-within #arrow {
    transform: rotate(90deg);
    transition: all 1s;
}
