html {
    min-height: 100%;
    background: linear-gradient(to bottom, rgb(246, 91, 91), rgb(223, 223, 63)) no-repeat;
    overflow: scroll;
}

body {
    text-align: center;
}

span {
    text-align: left;
    background-color: aquamarine;
}

img {
    float:left;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(65, 212, 193);
    padding: 2px;
    margin: 10px;
}

.column {
    float: left;
    margin: 5vh 5vw;
    width: 35vw;
    border: 2px solid white;
    border-radius: 10px;
}

.card {
    background: white;
    float: left;
    height: 323.6px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
}

ol {
    width: 200px;
    text-align:left;
}

ul {
    margin: 10px;
    text-align:left;
}